<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <connectionStrings>
    <add name="Work_SecurityDb"
         connectionString="Data Source=DESKTOP-SD9F5G9;Initial Catalog=S3K.RealTimeOnline.SecurityDb; User ID=sa;Password=123"
         providerName="System.Data.SqlClient" />
    <add name="Work_BusinessDb"
         connectionString="Data Source=DESKTOP-SD9F5G9;Initial Catalog=S3K.RealTimeOnline.BusinessDb; User ID=sa;Password=123"
         providerName="System.Data.SqlClient" />
    <add name="Home_SecurityDb"
         connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=S3K.RealTimeOnline.SecurityDb; Integrated Security=SSPI;"
         providerName="System.Data.SqlClient" />
    <add name="Home_BusinessDb"
         connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=S3K.RealTimeOnline.BusinessDb; Integrated Security=SSPI;"
         providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="ConnectionNameSecurityDb" value="Home_SecurityDb" />
    <add key="ConnectionNameBusinessDb" value="Home_BusinessDb" />
    <add key="BaseUri" value="http://localhost:9000" />
    <add key="CultureInfo" value="es-PE" />
    <add key="DbDateFormat" value="yyyy-MM-dd HH:mm:ss" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Serilog" publicKeyToken="24c2f752a8e58a10" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>