<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5.2" />
    <httpRuntime requestPathInvalidCharacters="" />
    <pages validateRequest="false" />
  </system.web>
  <connectionStrings>
    <add name="Work_SecurityDb"
         connectionString="Data Source=DESKTOP-SD9F5G9;Initial Catalog=S3K.RealTimeOnline.SecurityDb; User ID=sa;Password=123;Persist Security Info=False;MultipleActiveResultSets=true"
         providerName="System.Data.SqlClient" />
    <add name="Work_BusinessDb"
         connectionString="Data Source=DESKTOP-SD9F5G9;Initial Catalog=S3K.RealTimeOnline.BusinessDb; User ID=sa;Password=123;Persist Security Info=False;MultipleActiveResultSets=true"
         providerName="System.Data.SqlClient" />
    <add name="Home_SecurityDb"
         connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=S3K.RealTimeOnline.SecurityDb; Integrated Security=SSPI;Persist Security Info=False;MultipleActiveResultSets=true"
         providerName="System.Data.SqlClient" />
    <add name="Home_BusinessDb"
         connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=S3K.RealTimeOnline.BusinessDb; Integrated Security=SSPI;Persist Security Info=False;MultipleActiveResultSets=true"
         providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="SecurityDbConnectionName" value="Home_SecurityDb" />
    <add key="BusinessDbConnectionName" value="Home_BusinessDb" />
    <add key="SslFlags" value="Ssl" />
    <!-- SslFlags : [ None | Ssl | SslNegotiateCert | SslRequireCert  ] -->
    <add key="DbDateFormat" value="yyyy-MM-dd HH:mm:ss" />
    <add key="EnableSecurity" value="True" />
    <add key="StoreLocation" value="LocalMachine" />
    <add key="StoreName" value="My" />
    <add key="X509FindType" value="FindByThumbprint" />
    <add key="FindValue" value="1274fd9531bf117eda341cbfe70bf679387f88d5" />
    <add key="TokenExpirationMinutes" value="30" />
    <add key="UseRsa" value="False" />
  </appSettings>
  <system.diagnostics>
    <sources>
      <source name="System.ServiceModel" switchValue="Error, ActivityTracing" propagateActivity="true">
        <listeners>
          <add name="xml" />
        </listeners>
      </source>
      <source name="System.ServiceModel.MessageLogging">
        <listeners>
          <add name="xml" />
        </listeners>
      </source>
    </sources>
    <sharedListeners>
      <add name="xml" type="System.Diagnostics.XmlWriterTraceListener" initializeData="Traces.svclog" />
    </sharedListeners>
    <trace autoflush="false">
      <listeners>
        <add
          type="Microsoft.WindowsAzure.Diagnostics.DiagnosticMonitorTraceListener, Microsoft.WindowsAzure.Diagnostics, Version=2.8.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
          name="AzureDiagnostics">
          <filter type="" />
        </add>
      </listeners>
    </trace>
  </system.diagnostics>
  <system.serviceModel>
    <diagnostics wmiProviderEnabled="true">
      <messageLogging
        logEntireMessage="true"
        logMalformedMessages="true"
        logMessagesAtServiceLevel="true"
        logMessagesAtTransportLevel="true"
        maxMessagesToLog="3000" />
    </diagnostics>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true">
      <serviceActivations>
        <add factory="S3K.RealTimeOnline.WebService.WcfServiceFactory" relativeAddress="./Account.svc"
             service="S3K.RealTimeOnline.Core.Services.AccountService" />
        <add factory="S3K.RealTimeOnline.WebService.WcfServiceFactory" relativeAddress="./CustomerCrud.svc"
             service="S3K.RealTimeOnline.Core.Services.CustomerCrudService" />
        <add factory="S3K.RealTimeOnline.WebService.WcfServiceFactory" relativeAddress="./EmployeeCrud.svc"
             service="S3K.RealTimeOnline.Core.Services.EmployeeCrudService" />
        <add factory="S3K.RealTimeOnline.WebService.WcfServiceFactory" relativeAddress="./InventoryTransactionCrud.svc"
             service="S3K.RealTimeOnline.Core.Services.InventoryTransactionCrudService" />
        <add factory="S3K.RealTimeOnline.WebService.WcfServiceFactory"
             relativeAddress="./InventoryTransactionTypeCrud.svc"
             service="S3K.RealTimeOnline.Core.Services.InventoryTransactionTypeCrudService" />
        <add factory="S3K.RealTimeOnline.WebService.WcfServiceFactory" relativeAddress="./InvoiceCrud.svc"
             service="S3K.RealTimeOnline.Core.Services.InvoiceCrudService" />
        <add factory="S3K.RealTimeOnline.WebService.WcfServiceFactory" relativeAddress="./OrderCrud.svc"
             service="S3K.RealTimeOnline.Core.Services.OrderCrudService" />
        <add factory="S3K.RealTimeOnline.WebService.WcfServiceFactory" relativeAddress="./OrderDetailCrud.svc"
             service="S3K.RealTimeOnline.Core.Services.OrderDetailCrudService" />
        <add factory="S3K.RealTimeOnline.WebService.WcfServiceFactory" relativeAddress="./OrderDetailStatusCrud.svc"
             service="S3K.RealTimeOnline.Core.Services.OrderDetailStatusCrudService" />
        <add factory="S3K.RealTimeOnline.WebService.WcfServiceFactory" relativeAddress="./OrderStatusCrud.svc"
             service="S3K.RealTimeOnline.Core.Services.OrderStatusCrudService" />
        <add factory="S3K.RealTimeOnline.WebService.WcfServiceFactory" relativeAddress="./OrderTaxStatusCrud.svc"
             service="S3K.RealTimeOnline.Core.Services.OrderTaxStatusCrudService" />
        <add factory="S3K.RealTimeOnline.WebService.WcfServiceFactory" relativeAddress="./ProductCrud.svc"
             service="S3K.RealTimeOnline.Core.Services.ProductCrudService" />
        <add factory="S3K.RealTimeOnline.WebService.WcfServiceFactory" relativeAddress="./PurchaseOrderCrud.svc"
             service="S3K.RealTimeOnline.Core.Services.PurchaseOrderCrudService" />
        <add factory="S3K.RealTimeOnline.WebService.WcfServiceFactory" relativeAddress="./PurchaseOrderDetailCrud.svc"
             service="S3K.RealTimeOnline.Core.Services.PurchaseOrderDetailCrudService" />
        <add factory="S3K.RealTimeOnline.WebService.WcfServiceFactory" relativeAddress="./PurchaseOrderStatusCrud.svc"
             service="S3K.RealTimeOnline.Core.Services.PurchaseOrderStatusCrudService" />
        <add factory="S3K.RealTimeOnline.WebService.WcfServiceFactory" relativeAddress="./RoleCrud.svc"
             service="S3K.RealTimeOnline.Core.Services.RoleCrudService" />
        <add factory="S3K.RealTimeOnline.WebService.WcfServiceFactory" relativeAddress="./RoleDetailCrud.svc"
             service="S3K.RealTimeOnline.Core.Services.RoleDetailCrudService" />
        <add factory="S3K.RealTimeOnline.WebService.WcfServiceFactory" relativeAddress="./RoleGroupCrud.svc"
             service="S3K.RealTimeOnline.Core.Services.RoleGroupCrudService" />
        <add factory="S3K.RealTimeOnline.WebService.WcfServiceFactory" relativeAddress="./ShipperCrud.svc"
             service="S3K.RealTimeOnline.Core.Services.ShipperCrudService" />
        <add factory="S3K.RealTimeOnline.WebService.WcfServiceFactory" relativeAddress="./SupplierCrud.svc"
             service="S3K.RealTimeOnline.Core.Services.SupplierCrudService" />
        <add factory="S3K.RealTimeOnline.WebService.WcfServiceFactory" relativeAddress="./UserCrud.svc"
             service="S3K.RealTimeOnline.Core.Services.UserCrudService" />
        <add factory="S3K.RealTimeOnline.WebService.WcfServiceFactory" relativeAddress="./UserTypeCrud.svc"
             service="S3K.RealTimeOnline.Core.Services.UserTypeCrudService" />
      </serviceActivations>
    </serviceHostingEnvironment>
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <directoryBrowse enabled="true" />
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Unity.Abstractions" publicKeyToken="6d32ff45e0ccc69f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.3.0.0" newVersion="3.3.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Unity.Container" publicKeyToken="489b6accfaf20ef0" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.8.5.0" newVersion="5.8.5.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Services.Client" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.8.3.0" newVersion="5.8.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.OData" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.8.3.0" newVersion="5.8.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Edm" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.8.3.0" newVersion="5.8.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Azure.KeyVault.Core" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>