<connectionStrings>
  <add name="Work_SecurityDb"
       connectionString="Data Source=DESKTOP-SD9F5G9;       Initial Catalog=S3K.RealTimeOnline.SecurityDb; User ID=sa;Password=123; Persist Security Info=False;MultipleActiveResultSets=True"
       providerName="System.Data.SqlClient" />
  <add name="Work_BusinessDb"
       connectionString="Data Source=DESKTOP-SD9F5G9;       Initial Catalog=S3K.RealTimeOnline.BusinessDb; User ID=sa;Password=123; Persist Security Info=False;MultipleActiveResultSets=True"
       providerName="System.Data.SqlClient" />
  <add name="Home_SecurityDb"
       connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=S3K.RealTimeOnline.SecurityDb; Integrated Security=SSPI;Persist Security Info=False;MultipleActiveResultSets=True"
       providerName="System.Data.SqlClient" />
  <add name="Home_BusinessDb"
       connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=S3K.RealTimeOnline.BusinessDb; Integrated Security=SSPI;Persist Security Info=False;MultipleActiveResultSets=True"
       providerName="System.Data.SqlClient" />
</connectionStrings>