<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <system.diagnostics>
    <trace autoflush="true" indentsize="0">
      <listeners>
        <clear />
        <add
          type="Microsoft.WindowsAzure.Diagnostics.DiagnosticMonitorTraceListener, Microsoft.WindowsAzure.Diagnostics, Version=2.8.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
          name="AzureDiagnostics">
          <filter type="" />
        </add>
        <add name="rollingfile" />
      </listeners>
    </trace>
    <sharedListeners>
      <add name="rollingfile"
           type="Essential.Diagnostics.RollingFileTraceListener, Essential.Diagnostics.RollingFileTraceListener"
           initializeData="{ApplicationName}-{DateTime:yyyy-MM-dd}.log" convertWriteToEvent="true">
        <!--
          Writes to a text file, rolling to a new file based on a filename template 
          (usually including the date).
          
          Options:
            initializeData="{ApplicationName}-{DateTime:yyyy-MM-dd}.log"
            convertWriteToEvent="true|false" 
            template="{DateTime:u} [{Thread}] {EventType} {Source} {Id}: {Message}{Data}"
  
          Children:
            <filter 
              type="Essential.Diagnostics.ExpressionFilter, Essential.Diagnostics.Core"
              initializeData=' Id >= 8000 ' />
        -->
      </add>
    </sharedListeners>
    <sources>
      <source name="Example.RollingFile.Source" switchValue="All">
        <!--
          Add listener to source. Use named switches for multiple sources; switch values can be names, decimal, or hexadecimal.
        -->
        <listeners>
          <clear />
          <add name="rollingfile" />
        </listeners>
      </source>
    </sources>
  </system.diagnostics>
  <system.web>
    <compilation debug="true" targetFramework="4.5.2" />
    <httpRuntime requestPathInvalidCharacters="" />
    <pages validateRequest="false" />
  </system.web>
  <connectionStrings>
    <add name="Work_SecurityDb"
         connectionString="Data Source=DESKTOP-SD9F5G9;Initial Catalog=Northwind.SecurityDb; User ID=sa;Password=123;Persist Security Info=False;MultipleActiveResultSets=true"
         providerName="System.Data.SqlClient" />
    <add name="Work_BusinessDb"
         connectionString="Data Source=DESKTOP-SD9F5G9;Initial Catalog=Northwind.BusinessDb; User ID=sa;Password=123;Persist Security Info=False;MultipleActiveResultSets=true"
         providerName="System.Data.SqlClient" />
    <add name="Home_SecurityDb"
         connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=Northwind.SecurityDb; Integrated Security=SSPI;Persist Security Info=False;MultipleActiveResultSets=true"
         providerName="System.Data.SqlClient" />
    <add name="Home_BusinessDb"
         connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=Northwind.BusinessDb; Integrated Security=SSPI;Persist Security Info=False;MultipleActiveResultSets=true"
         providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="SecurityDbConnectionName" value="Home_SecurityDb" />
    <add key="BusinessDbConnectionName" value="Home_BusinessDb" />
    <add key="SslFlags" value="None" />
    <!-- SslFlags : [ None | Ssl | SslNegotiateCert | SslRequireCert  ] -->
    <add key="DbDateFormat" value="yyyy-MM-dd HH:mm:ss" />
    <add key="EnableSecurity" value="True" />
    <add key="StoreLocation" value="LocalMachine" />
    <add key="StoreName" value="My" />
    <add key="X509FindType" value="FindByThumbprint" />
    <add key="FindValue" value="1274fd9531bf117eda341cbfe70bf679387f88d5" />
    <add key="TokenExpirationMinutes" value="30" />
    <add key="UseRsa" value="False" />
  </appSettings>
  <system.serviceModel>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true">
      <serviceActivations>
        <add factory="Northwind.WebRole.WcfServiceFactory" relativeAddress="./Account.svc"
             service="Northwind.WebRole.Services.AccountService" />
        <add factory="Northwind.WebRole.WcfServiceFactory" relativeAddress="./CustomerCrud.svc"
             service="Northwind.WebRole.Services.CustomerCrudService" />
        <add factory="Northwind.WebRole.WcfServiceFactory" relativeAddress="./EmployeeCrud.svc"
             service="Northwind.WebRole.Services.EmployeeCrudService" />
        <add factory="Northwind.WebRole.WcfServiceFactory" relativeAddress="./InventoryTransactionCrud.svc"
             service="Northwind.WebRole.Services.InventoryTransactionCrudService" />
        <add factory="Northwind.WebRole.WcfServiceFactory" relativeAddress="./InventoryTransactionTypeCrud.svc"
             service="Northwind.WebRole.Services.InventoryTransactionTypeCrudService" />
        <add factory="Northwind.WebRole.WcfServiceFactory" relativeAddress="./InvoiceCrud.svc"
             service="Northwind.WebRole.Services.InvoiceCrudService" />
        <add factory="Northwind.WebRole.WcfServiceFactory" relativeAddress="./OrderCrud.svc"
             service="Northwind.WebRole.Services.OrderCrudService" />
        <add factory="Northwind.WebRole.WcfServiceFactory" relativeAddress="./OrderDetailCrud.svc"
             service="Northwind.WebRole.Services.OrderDetailCrudService" />
        <add factory="Northwind.WebRole.WcfServiceFactory" relativeAddress="./OrderDetailStatusCrud.svc"
             service="Northwind.WebRole.Services.OrderDetailStatusCrudService" />
        <add factory="Northwind.WebRole.WcfServiceFactory" relativeAddress="./OrderStatusCrud.svc"
             service="Northwind.WebRole.Services.OrderStatusCrudService" />
        <add factory="Northwind.WebRole.WcfServiceFactory" relativeAddress="./OrderTaxStatusCrud.svc"
             service="Northwind.WebRole.Services.OrderTaxStatusCrudService" />
        <add factory="Northwind.WebRole.WcfServiceFactory" relativeAddress="./ProductCrud.svc"
             service="Northwind.WebRole.Services.ProductCrudService" />
        <add factory="Northwind.WebRole.WcfServiceFactory" relativeAddress="./PurchaseOrderCrud.svc"
             service="Northwind.WebRole.Services.PurchaseOrderCrudService" />
        <add factory="Northwind.WebRole.WcfServiceFactory" relativeAddress="./PurchaseOrderDetailCrud.svc"
             service="Northwind.WebRole.Services.PurchaseOrderDetailCrudService" />
        <add factory="Northwind.WebRole.WcfServiceFactory" relativeAddress="./PurchaseOrderStatusCrud.svc"
             service="Northwind.WebRole.Services.PurchaseOrderStatusCrudService" />
        <add factory="Northwind.WebRole.WcfServiceFactory" relativeAddress="./RoleCrud.svc"
             service="Northwind.WebRole.Services.RoleCrudService" />
        <add factory="Northwind.WebRole.WcfServiceFactory" relativeAddress="./RoleDetailCrud.svc"
             service="Northwind.WebRole.Services.RoleDetailCrudService" />
        <add factory="Northwind.WebRole.WcfServiceFactory" relativeAddress="./RoleGroupCrud.svc"
             service="Northwind.WebRole.Services.RoleGroupCrudService" />
        <add factory="Northwind.WebRole.WcfServiceFactory" relativeAddress="./ShipperCrud.svc"
             service="Northwind.WebRole.Services.ShipperCrudService" />
        <add factory="Northwind.WebRole.WcfServiceFactory" relativeAddress="./SupplierCrud.svc"
             service="Northwind.WebRole.Services.SupplierCrudService" />
        <add factory="Northwind.WebRole.WcfServiceFactory" relativeAddress="./UserCrud.svc"
             service="Northwind.WebRole.Services.UserCrudService" />
        <add factory="Northwind.WebRole.WcfServiceFactory" relativeAddress="./UserTypeCrud.svc"
             service="Northwind.WebRole.Services.UserTypeCrudService" />
      </serviceActivations>
    </serviceHostingEnvironment>
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <!--
        Para explorar el directorio raíz de aplicaciones web durante la depuración, establezca el valor siguiente en TRUE.
        Establézcalo en FALSE antes de la implementación para evitar que la información de la carpeta de aplicaciones web se haga pública.
    -->
    <directoryBrowse enabled="true" />
  </system.webServer>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Azure.KeyVault.Core" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Unity.Abstractions" publicKeyToken="6d32ff45e0ccc69f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.3.0.0" newVersion="3.3.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Unity.Container" publicKeyToken="489b6accfaf20ef0" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.8.6.0" newVersion="5.8.6.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IdentityModel.Tokens" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.4.0" newVersion="5.2.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IdentityModel.Logging" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.4.0" newVersion="5.2.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Services.Client" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.8.3.0" newVersion="5.8.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.OData" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.8.3.0" newVersion="5.8.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Edm" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.8.3.0" newVersion="5.8.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Essential.Diagnostics.Core" publicKeyToken="9d041bca93991466" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.0.0" newVersion="2.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Unity.Configuration" publicKeyToken="6d32ff45e0ccc69f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="CommonServiceLocator" publicKeyToken="489b6accfaf20ef0" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.3.0" newVersion="2.0.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>